@charset "utf-8";
/* CSS Document */
body{ width:100%; margin:0 auto; padding:0; font-family: "微软雅黑", Helvetica,serif; font-size:50px; text-align:left;}
div,p,span,a,input,ul,li,font,h1,h2,h3,h4,img,dl,dt,dd,ol{ margin:0; padding:0; list-style:none; border:0;}
#main p.main-title{padding-left:60px;}
#main > div{ padding-left:60px; padding-right:30px;}
#head{ width:696px; height:102px; padding:36px 0 0 24px;}
#head img{ vertical-align:middle;}
#head h3{ display:inline-block; margin-left:0px; font-size:24px; font-weight:100;margin-top:20px; }
#main{ margin:0 auto;}
#main .title{color:#828282; font-size:40px; line-height:46px;margin-left:-10px;}














